@CHARSET "UTF-8";

/************ book top5 start ************/
.carousel {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 450px;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}
.carousel .carousel-item img {
	width: 230px;
	height: 320px;
}
/************ book top5 end ************/

/************ book list start ************/
.col.s3 {
	text-align: center;
	position: relative;
}
.col.s3 img {
	width: 160px;
	height: 230px;
	border: 1px solid #a1887f;
}
.book-info {
	display: inline-block;
	position: relative;
}
.book-info:hover .book-desc {
	display: block;
}

.book-info:hover .dimmer {
	display: block;
}

.dimmer {
	position: absolute;
	width: 100%;
	height: 230px;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
	display: none;
}

.book-desc {
	position: absolute;
	left: 0;
	width: 100%;
	height: 80px; display : none;
	background-color: #E3E7E8;
	display: none; background-color : white;
	bottom: 5px;
	border: 1px solid #a1887f;
}
.book-title{
	font-size: 12px;
	margin: 5px;
}
.title-line{
	margin: 0px;
}
/************ book list end ************/

/************ star start ************/
.star_rating {
	/* position: absolute; */
	/* text-align: center; */
	font-size: 0;
	letter-spacing: -4px;
	/* bottom: 5px; */
}
.star_rating a {
	font-size: 18px;
	letter-spacing: 0;
	display: inline-block;
	margin-left: 5px;
	color: #ccc;
	text-decoration: none;
}

.star_rating a:first-child {
	margin-left: 0;
}
.star_rating a.on {
	color: #FFEE00;
}
/************ star end ************/

/************ heart(wish-list) start ************/
.favorite {
	font-size: 12px;
	letter-spacing: 0;
	display: inline-block;
	margin-left: 5px;
	color: #ccc;
	text-decoration: none; 
	cursor: pointer;
}

.favorite:first-child {
	margin-left: 0;
}

.favorite.on {
	color: red;
}
/************ heart(wish-list) end ************/