@CHARSET "UTF-8";
/* ==================bookmain.jsp================== */
/* book top5 start */
.carousel {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 450px;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}
.carousel .carousel-item img {
	width: 230px;
	height: 320px;
}
/* book top5 end */

/* main text start */
.main-text{
	/* font-weight: 400; */
	font-family: fantasy;
	text-align: center;
}
/* main text end */

/* book list start */
.col.s3.grid-main {
	text-align: center;
	position: relative;
}
.col.s3.grid-main img {
	width: 160px;
	height: 230px;
	border: 1px solid #a1887f;
}
.book-info {
	display: inline-block;
	position: relative;
}
.book-info:hover .book-desc {
	display: block;
}

.book-info:hover .dimmer {
	display: block;
}

.dimmer {
	position: absolute;
	width: 100%;
	height: 230px;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
	display: none;
}

.book-desc {
	position: absolute;
	left: 0;
	width: 100%;
	height: 80px; 
	display : none;
	background-color: white;/* #E3E7E8; */
	display: none; 
	bottom: 5px;
	border: 1px solid #a1887f;
}
.book-title{
	font-size: 12px;
	margin: 5px;
}
.title-line{
	margin: 0px;
}
/* book list end */

/* star start */
.star_rating {
	/* position: absolute; */
	text-align: center;
	font-size: 0;
	letter-spacing: -4px;
	/* bottom: 5px; */
}

.star_rating a {
	font-size: 18px;
	letter-spacing: 0;
	display: inline-block;
	margin-left: 5px;
	color: #ccc;
	text-decoration: none;
}

.star_rating a:first-child {
	margin-left: 0;
}
.star_rating a.on {
	color: #FFEE00;
}
/* star end */

/* heart(wish-list) start */
.wish-text1{
	font-size: 11px;
}
.favorite {
	/* font-size: 12px; */
	letter-spacing: 0;
	display: inline-block;
	margin-left: 5px;
	color: #ccc;
	text-decoration: none; 
	cursor: pointer;
}

.favorite:first-child {
	margin-left: 0;
}

.favorite.on {
	color: red;
}
/* heart(wish-list) end */

/*================== bookinfo.jsp ==================*/
/* book info start */
.info-cover{
	width: 230px;
	height: 320px;
	border: 1px solid #a1887f;
}
.info-ctgr{
	font-size: 13px;
}
.info-title{
	font-size: 25px;
}
.info-pub{
	font-size: 13px;
}
.bordered{
	border-color: #a1887f;
	font-size: 14px;
}
.wish-text2{
	font-size: 20px;
}
.table-center{
	text-align: center;
	text-shadow:black;
	color: white;
	background-color: rgba(161, 136, 127, 0.8); /* #a1887f 색상에 투명도 적용 */
}
.cart{
	padding: 0px;
	margin: 0px;
}
.icon-title{
	color: #82685F;
}
.waves-effect.waves-light.btn.price{
	text-align:left;
	width: 100%;
	height: 99%;
 	padding-top: 4px;
	/* padding-bottom: 4px; */
	padding-left: 20px;
	padding-right: 30px;
	background-color: white;
	color: black;
}

.waves-effect.waves-light.btn-large.binfo{
 	width: 100%;
	height: 100%;
	padding: 0px;
	background-color: rgba(161, 136, 127, 0);
}
.waves-effect.waves-light.btn-large.binfo:hover{
 	background-color: #a1887f;
}
.waves-effect.waves-light.btn-large.binfo:hover .material-icons.cart{
 	color: black;
}
.material-icons.cart{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 20px;
	margin-right: 20px;
}
.tshadow{
	text-shadow: 0px 0 rgba(161, 136, 127, 0.5), 0 0px rgba(161, 136, 127, 0.5), 0px 0 rgba(161, 136, 127, 0.5), 0 0px rgba(161, 136, 127, 0.5);
}
/* book info end */

/* cart process start */
.waves-effect.waves-light.btn.price.buy #buy{
	color: white;
}
.waves-effect.waves-light.btn.price.rent #rent{
	color: white;
}
.waves-effect.waves-light.btn.price.buy.on #buy {
	color: #82685F;
}
.waves-effect.waves-light.btn.price.rent.on #rent {
	color: #82685F;
}
/* cart process end */